
    * {
        max-width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        overflow: hidden;
        font-family: 'IBM Plex Mono', monospace !important;
        font-weight: normal;
    }

    video {
        height: 100vh;
        width: 110vw;
        object-fit: cover;
        object-position: center
    }

    .video:after {
        content: "";
        background: #000000ad;
        ;
        position: absolute;
        display: block;
        width: 100vw;
        height: 100vh;
        top: 0;
    }

    #content {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .container {
        width: 443px;
        height: 175px;

    }

    p {
        color: #fff;
        line-height: 2;
    }

    .label {
        margin: 8px 0;
    }

    input:focus-within,
    input:target,
    input:active,
    input:hover,
    input:focus,
    input:focus-visible,
    input:visited,
    input {
        background: none !important;
        border: none !important;
        color: #FFF !IMPORTANT;
        line-height: 2;
        width: 100%;
        outline: unset;
        font-weight: 100;
        font-size: 17px;
    }

    ::-webkit-input-placeholder {
        background: unset !important;
        border: none !important;
        outline: unset;
        font-weight: 100;


    }

    ::-moz-placeholder {
        background: unset !important;
        border: none !important;
        outline: unset;
        font-weight: 100;


    }

    :-ms-input-placeholder {
        background: unset !important;
        border: none !important;
        outline: unset;
        font-weight: 100;


    }

    ::-ms-input-placeholder {
        background: unset !important;
        border: none !important;
        outline: unset;
        font-weight: 100;


    }

    ::placeholder {
        background: unset !important;
        border: none !important;
        outline: unset;
        font-weight: 100;


    }

    @media(max-width: 882px) {
        .container {
            padding: 0 15px;
        }
    }